# .github/workflows/sync_posts.yml

name: Sync posts

on:
  push:
    branches:
      - main
    paths:
      - '_posts/**ksmbd**'
      - '_posts/**bv**'
      - '_posts/**swing**'

jobs:
  sync-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4

      - name: Checkout destination repository 21105590
        uses: actions/checkout@v4
        with:
          repository: 6kitty/21105590
          path: repo-21105590
          token: ${{ secrets.ACTION_PAT }} 
          
      - name: Checkout destination repository BV
        uses: actions/checkout@v4
        with:
          repository: 6kitty/BV-8th
          path: repo-BV-8th
          token: ${{ secrets.ACTION_PAT }}
          
      - name: Checkout destination repository SWING
        uses: actions/checkout@v4
        with:
          repository: 6kitty/SWING
          path: repo-SWING
          token: ${{ secrets.ACTION_PAT }}

      - name: Sync files
        run: |
          echo "Finding and copying files..."
          mkdir -p repo-21105590/_posts
          mkdir -p repo-BV-8th/_posts
          mkdir -p repo-SWING/_posts

          find _posts -type f -name "*ksmbd*" -exec cp {} repo-21105590/_posts/ \;
          find _posts -type f -name "*bv*" -exec cp {} repo-BV-8th/_posts/ \;
          find _posts -type f -name "**swing**" -exec cp {} repo-SWING/_posts/ \;

      - name: Commit and push to 21105590
        run: |
          cd repo-21105590
          git config --global user.name "6kitty-bot"
          git config --global user.email "sixeunseoth@gmail.com"
          if [[ -n $(git status -s) ]]; then
            git add .
            git commit -m "docs: Sync posts from 6kitty.github.io"
            git push
          else
            echo "No changes to commit"
          fi
          
      - name: Commit and push to repo-BV-8th
        run: |
          cd repo-BV-8th
          git config --global user.name "6kitty-bot"
          git config --global user.email "sixeunseoth@gmail.com"
          if [[ -n $(git status -s) ]]; then
            git add .
            git commit -m "docs: Sync posts from 6kitty.github.io"
            git push
          else
            echo "No changes to commit"
          fi
          
      - name: 어웅 귀찮.. 이따가 추가한다 
          
